:root{
    --green-color: #25A59E;
    --dark-color: #262626;
    --ash-color: #595959;
    --light-ash-color: #A6A6A6;
    --very-light-ash-color: #FAFAFA;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Urbanist", sans-serif;
}


/* HEADER SECTION */

header{
    height: auto;
    padding: 0 120px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
    margin-bottom: 100px;
}

nav .logo{
    font-family: "Gilda Display", sans-serif;
    font-size: 28px;
    color: var(--green-color);
}



.hero-section{
    margin: 0;
    width: 100%;
}

.hero-section .text{
    position: relative;
    font-family: "Gilda Display", sans-serif;
    font-size: 150px;
    text-align: center;
    font-weight: 400;
    color: var(--green-color);
}

.hero-section .heading-text{
    /* position: relative; */
    font-family: "Gilda Display", sans-serif;
    font-size: 150px;
    text-align: center;
    font-weight: 400;
}

.hero-section .header-images{
    position: relative;
    width: 90%;
    margin: auto;
    /* max-width: 600px; */
}


.hero-section .centered-image.one {
    position: absolute;
    width: 80%;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateX(15%);
}

.hero-section .centered-image.two {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(4.7%);
}

.hero-section .centered-image.four {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-29.9%);
}


.hero-bar{
    display: flex;
    position: relative;
    width: 100%;
    height: 160px;
    background: var(--green-color);
    color: white;
    margin-top: 340px;
    z-index: 4;
    align-items: center;
    padding: 40px 60px;
}

.hero-bar .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-bar .content .end{
    width: 30%;
    line-height: 1.6;
}

.hero-bar .end.center-text{
    font-family: "Gilda Display", sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}

/* END OF HEADER SECTION */

section.destination{
    padding: 100px 120px;
}

.destination-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.destination-bar .left{
    font-family: "Gilda Display", sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2;
    width: 45%;
}


.destination-bar .right p{
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 33px;
}

.destination-bar form{
    position: relative;
}
.destination-bar form input{
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: var(--very-light-ash-color);
    border-radius: 50px;
    border: 1px solid var(--light-ash-color);
    padding: 16px 45px;
    width: 100%;
}
.destination-bar form .location{
    position: absolute;
    left: 3%;
    top: 0;
    transform: translateY(50%);
}

.destination-bar form .search{
    position: absolute;
    left: 0;
    top: 9%;
    transform: translateX(910%);
}

.destination-content .list{
    display: flex;
    justify-content: space-between;
}

.destination-content .list .card{
    width: 31%;
    padding: 16px;
    border: 1px solid #F2F2F2;
    margin-bottom: 41px;
    background-color: white;
    box-shadow: #A6A6A6;
    box-shadow: -55.45px 50.41px 98px 0px #3736640A;
    box-shadow: 105.45px 50.41px 78.04px 0px #4d4c8a0d;
}

.destination-content .list img.dest-images{
    width: 100%;
}

.destination-content h3{
    font-family: "Urbanist", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.destination-content .location{
    position: relative;
}

.destination-content .location img{
    position: absolute;
    transform: translateX(-13%);
}

.destination-content .location p{
    padding-left: 20px;
}

/* END OF DESTINATION SECTION */

section.choose-us{
    align-items: center;
    padding: 0 120px;
}

.choose-us .heading{
    margin: 60px 161px;
    text-align: center;
}

.choose-us .heading h2{
    font-family: "Gilda Display", sans-serif;
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 24px;
}

.choose-us .heading p{
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.choose-us .list-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;
}

.choose-us .list-card .card{
    width: 32%;
    box-shadow: 10px 26px 150px 0px #4343641A;

}

.choose-us .list-card .card.center{
    background-color: var(--green-color);
    color: white;
}

.choose-us .list-card .card.top{
    background-color: white;
    color: var(--dark-color);
}

.choose-us .list-card .card .list-top{
    background-color: var(--green-color);
    height: 4px;
}
.choose-us .list-card .content{
    padding: 32px;
}
.choose-us .list-card .content h3{
    font-family: "Gilda Display", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 62px;
    margin-bottom: 20px;
}
.choose-us .list-card .content p{
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}
.choose-us .list-card .action{
    display: flex;
    justify-content: end;
    gap: 8px;
    width: 100%;
}
section.memorable-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 120px;
}
.memorable-section .right{
    width: 100%;
}
.memorable-section .right img{
    width: 100%;
}
.memorable-section .left{
    width: 100%;
}
.memorable-section .left .content .h4{
    font-family: "Gilda Display", sans-serif;
    font-size: 68px;
    font-weight: 400;
    line-height: 84px;
    margin-bottom: 28px;
}
.memorable-section .left .content .h4 .green{
    font-family: "Gilda Display", sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 84px;
    margin-bottom: 28px;
    color: var(--green-color);   
}
.memorable-section .left .content .p{
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 48px;
}
.memorable-section .left .content .p .green{
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 48px;
    color: var(--green-color);
}
.memorable-section .left .content .button{
    display: flex;
    align-items: center;
}
.memorable-section .left .content .button .left-btn{
    background: var(--green-color);
    color: white;
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 32px;
}
.memorable-section .left .content .button .right-btn{
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--dark-color);
    padding-left: 32px;
}
.documentation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.documentation .wrt{
    font-family: Gilda Display;
    font-size: 72px;
    font-weight: 400;
    line-height: 84px;
    width: 80%;
    text-align: center;
    margin-bottom: 20px; 
    padding: 0 120px;
}
.documentation img{
    max-width: 100%;
    height: auto; 
}
footer .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .heading .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 120px;
}
footer .heading h4{
    font-family: Gilda Display;
    font-size: 72px;
    font-weight: 400;
    line-height: 84px;
    text-align: center;
}
footer .heading .button{
    padding: 16px 32px;
    background-color: var(--green-color);
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
footer .travel-footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 0 120px;
}
footer .travel-footer .left{
    width: 28%;
}
footer .travel-footer .left .content .h4{
    font-family: Gilda Display;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: var(--green-color);
    margin-bottom: 20px;
}
footer .travel-footer .left .content .p{
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    margin-bottom: 48px;
}
footer .travel-footer .left .social-links img{
    padding-right: 32px;
}
footer .divider{
    width: 100%;
}
footer .menu ul {
    list-style-type: none;
    padding: 0;
}
 footer .menu li {
    display: inline;
    padding-right: 40px;
}
footer .menu a {
    text-decoration: none;
    color: var(--ash-color); 
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
}
footer .menu a:hover {
    color: #007BFF; 
} 

